@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Playfair+Display:ital,wght@1,700&display=swap');

body{ 
    font-family: 'Philosopher', serif;
    font-size: large;
}

/* Todo Item */
.ListItem {
    color:#360827;
    padding: 0.5rem;
    list-style: none;
    border-radius: 0.5rem;
    background-color: #FCF5ED;
    display:inline-flex;
    flex-wrap: nowrap;
    flex-direction: row; 
    justify-content: space-between;
    margin: 1rem;
    padding: 1.5rem;
    align-items: center;
    gap:0.8rem;
    border:#a13f80 solid 0.1rem;
}

.Button {
    color: #FCF5ED;
    background-color: #a13f80;
    border-radius: 0.5rem;
    font-family: 'Philosopher', serif;
    border: #FCF5ED solid 0.1rem;
}

.Button:hover {
    color: #FCF5ED;
    background-color: #5e1043;
}

.ButtonLogo {
    color: #FCF5ED;
    padding: 0.4rem;
    width: 19px;
    height: 19px;
}
.Button:hover .ButtonLogo{
    color: #fbf8ca;
}

.Button:hover .EditButtonLogo{
    color: #fbf8ca;
}

/* Editing Form */
.EditingForm {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.InputStyling {
    background-color:#FCF5ED;
    border:solid #a13f80 0.15rem;
    border-radius:0.3rem;
    padding: 0.5rem;
    font-size: medium;
    width: 100%;
    color:#1F1717;
}


@media (max-width: 700px) {
    .ListItem {
        display: inline-flex;
    }
}