@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Playfair+Display:ital,wght@1,700&display=swap');

body{ 
    font-family: 'Philosopher', serif;
    font-size: large;
}

.ListItem {
    color:#360827;
    padding: 0.5rem;
    list-style: none;
    border-radius: 0.5rem;
    background-color: #FCF5ED;
    display:inline-flex;
    flex-wrap: nowrap;
    flex-direction: row; 
    justify-content: space-between;
    margin: 1rem;
    padding: 1.5rem;
    align-items: center;
    gap:1rem;
}

.InputStyling {
    background-color:#FCF5ED;
    border:solid #a13f80 0.15rem;
    border-radius:0.3rem;
    padding: 0.5rem;
    font-size: medium;
    width: 100%;
    color:#1F1717;
}

.Button {
    color: #FCF5ED;
    background-color: #a13f80;
    border-radius: 0.3rem;
    border: solid #a13f80 0.2rem;
    padding: 0.4rem 0.8rem;
    font-family: 'Philosopher', serif;
}

@media (max-width: 700px) {
    .ListItem {
        display: flex;
    }
}