@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Playfair+Display:ital,wght@1,700&display=swap');

body {
    background-color: #360827;
    margin: 0;
}

/* Navigation Section */
.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: baseline;
    justify-content: space-between;
    padding: 0 1.25rem;
    background-color: #5e1043;
}
.TodoTitle {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color:#fbf8ca;
    /* padding: 1.25rem;
    background-color: #5e1043;
    /* width: 100%; */
    /* margin: -0.5rem 0 1.5rem 0; */
}

.TodoLogo {
    justify-items: center;
    height: 23px;
}
button {
    color: #fbf8ca;
    background-color: #5e1043;
    border: #fbf8ca solid 0.2rem;
    border-radius: 0.3rem;
    padding: 0.2rem 0.3rem;
}

.HomeLogo {
    color: #fbf8ca;
    background-color: #5e1043;
    justify-items: center;
    width: 20px;
    height: 20px;
}
button:hover {
    border: #a13f80 solid 0.2rem;
}
.HomeLogo:hover {
    color: #a13f80;
    width: 22px;
    height: 22px;
}

/* Path */
.Path {
    display: flex;
    flex-direction: row;
    color: #a13f80;
    margin: 1.2rem;
    gap: 0.5rem;
}
.Link:visited { 
    color:#fbf8ca;
}

.Link:hover { 
    color:#a13f80;
}

.Link:link { 
    text-decoration: none; 
} 
