@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Playfair+Display:ital,wght@1,700&display=swap');

body {
    background-color: #360827;
    margin: 0;
}

.TodoTitle {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color:#fbf8ca;
    padding: 1.25rem;
    background-color: #5e1043;
    /* width: 100%; */
    margin: -0.5rem 0 1.5rem 0;
}
.TodoLogo {
    justify-items: center;
    height: 30px;
}