@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Playfair+Display:ital,wght@1,700&display=swap');

body {
    background-color: #360827;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
}
div {
    width: -webkit-fill-available;
}

.MenuItems {
    display: flex;
    flex-direction: column;
    color: #a13f80;
    margin: 6rem 1.2rem 0.5rem 1.2rem;
    gap: 0.5rem;
}

/* My Tasks Navigation Section */
.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: baseline;
    justify-content: space-between;
    padding: 0 1.25rem;
    background-color: #5e1043;
    position:fixed;
    width: -webkit-fill-available;
}

.TodoTitle {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color:#fbf8ca;
}

.TodoLogo {
    justify-items: center;
    height: 23px;
}

button {
    color: #FCF5ED;
    background-color: #5e1043;
    border: #FCF5ED solid 0.2rem;
    border-radius: 0.3rem;
    padding: 0.2rem 0.3rem 0 0.3rem;
}

.HomeLogo {
    color: #FCF5ED;
    background-color: #5e1043;
    justify-items: center;
    width: 18px;
    height: 18px;
}

button:hover {
    border: #a13f80 solid 0.2rem;
}

.HomeLogo:hover {
    color: #a13f80;
    width: 20px;
    height: 20px;
}

/* Path */
.Path {
    display: flex;
    flex-direction: row;
    color: #a13f80;
    margin: 6rem 1.2rem 0.5rem 1.2rem;
    gap: 0.5rem;
}

.Link { 
    color:#FCF5ED;
}

.Link:visited { 
    color:#FCF5ED;
}

.Link:hover { 
    color:#a13f80;
}

.Link:link { 
    text-decoration: none; 
} 
